.remark-slide {
    width: 1200px !important;  /* Ajustez la largeur */
    height: 800px !important;  /* Ajustez la hauteur */
}

.remark-slide-content {
    font-size: 22px;  /* Ajustez la taille de police si nécessaire */
}

slides > slide.title-slide {
    background-image: url("omics.jpg");
    background-repeat: no-repeat;
    color: #048;
}

title {
  background-color: #010101;
}

h1,h2,h3 {
    color: #048;
}
